@{
  Layout = "_Layout";
}

@model WritersClub.Models.Issue

<h4>Add a new Issue</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Prompt)
  @Html.TextAreaFor(model => model.Prompt)

  @Html.LabelFor(model => model.JournalId)
  @Html.DropDownList("JournalId")

  <input type="submit" value="Create new issue" />
}
<p>@Html.ActionLink("Back to Issues", "Index")</p>