@{
    Layout = "_Layout";
}

@using WritersClub.Models;
@model WritersClub.Models.Issue;

<h2>Issue Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Prompt): @Html.DisplayFor(model => model.Prompt)<h3>

<ul>
    @if (@Model.Items.Count == 0)
    {
        <p>no items found</p>
    }

    @foreach (var join in @Model.Items)
    {
        <li>@join.Item.Description</li>
    }
</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>