@{
    Layout = "_Layout";
}

@using WritersClub.Models;
@model WritersClub.Models.Issue;

<h2>Issue @Html.DisplayFor(model => model.IssueId) Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Prompt): @Html.DisplayFor(model => model.Prompt)</h3>

<ul>
    @if (@Model.Entries.Count == 0)
    {
        <p>no entries yet</p>
    }

    @foreach (var entry in @Model.Entries)
    {
        <li>@Html.ActionLink($"{entry.Title}", "Details", "Entries", new { id = entry.EntryId })</li>
    }
</ul>

<p>@Html.ActionLink("Back to list of Issues", "Index")</p>
<p>@Html.ActionLink("Edit Issue", "Edit", new { id = Model.IssueId })</p>
<p>@Html.ActionLink("Delete Issue", "Delete", new { id = Model.IssueId })</p>