@{
  Layout = "_Layout";
}

@model WritersClub.Models.Issue

<h2>Edit</h2>

<h4>Edit the Prompt: @Html.DisplayFor(model => model.Prompt)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IssueId)

    @Html.HiddenFor(model => model.JournalId)

    @Html.LabelFor(model => model.Prompt)
    @Html.TextAreaFor(model => model.Prompt)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Index")</p>