@{
  Layout = "_Layout";
}

@model WritersClub.Models.Journal

<h2>Edit</h2>

<h4>Edit the Journal Name: @Html.DisplayFor(model => model.JournalName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JournalId)

    @Html.HiddenFor(model => model.ClubId)

    @Html.LabelFor(model => model.JournalName)
    @Html.TextAreaFor(model => model.JournalName)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Index")</p>