@{
  Layout = "_Layout";
}

@model WritersClub.Models.Entry

<h4>Create New Entry</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.Content)
  @Html.TextAreaFor(model => model.Content)

  <input type="hidden" value="@DateTime.Now" name="Timestamp">

  @Html.Label("Select Prompt")
  @Html.DropDownList("IssueId")
  <input type="submit" value="Add this entry" class="btn btn-default"/>
}
<p class="btn btn-default">@Html.ActionLink("Back", "Index")</p>

